//header
.navbar-brand-img {
  height: 100%;
}

//menu left
.menu-left {
  margin-bottom: 20px;
}

.menu-left img {
  max-width: 100%;
  max-height: 100px;
  width: auto;
  height: auto;
}

//body
.body {
}

//carousel center img
.carousel-inner > .item > img {
  margin: 0 auto;
}