{% extends "base.html.twig" %}

{% block title %} Open Street Map {{ parent() }}{% endblock %}

{% block body %}
    <h1>Open Street Map</h1>
    <div>
        <p>OpenStreetMap (OSM) est un projet international fondé en 2004 dans le but de créer une carte libre du
            monde.</p>
        <p>Nous collectons des données dans le monde entier sur les routes, voies ferrées, les rivières, les forêts, les
            bâtiments et bien plus encore !</p>
        <p>Les données cartographiques collectées sont ré-utilisables sous licence libre ODbL (depuis le 12 septembre
            2012).</p>
        <p><a href="http://openstreetmap.fr">Open Street Map France</a></p>
    </div>
{% endblock %}