{# TODO: DO link #}
<div class="btn-group-vertical">
    <a class="btn btn-default" href="/">Home</a>
    <a class="btn btn-default" href="/info/osm">Open Street Map</a>
    <a class="btn btn-default" href="/info/aboutus">About Us</a>
    <a class="btn btn-default" href="/info/faq">FAQ</a>
    <a class="btn btn-default" href="/download/android">
        <img alt="Android" src="{{ asset('assets/img/google-play-badge.png') }}"/>
    </a>
</div>
